<div class="container">
 <h4 class="my-2">商品新規登録</h4>
 <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
 <div class="row d-flex align-items-center offset-1 py-2">
  <h5 class="m-0 col-3">商品画像</h5>
  <%= f.file_field :image, accept: "image/*" %>
 </div>
 <div class="row d-flex align-items-center offset-1 py-2">
  <h5 class="m-0 col-3">商品名</h5>
  <%= f.text_field :name %>
 </div>
 <div class="row  offset-1 py-2">
  <h5 class="m-0 col-3">商品説明</h5>
  <%= f.text_area :introduction %>
 </div>
 <div class="row d-flex align-items-center offset-1 py-2">
  <h5 class="m-0 col-3">ジャンル</h5>
  <%= f.collection_select :genre_id, @genres, :id, :name,{include_blank: "選択してください"},required: true %>
 </div>
 <div class="row d-flex align-items-center offset-1 py-2">
  <h5 class="m-0 col-3">税抜価格</h5>
  <%= f.text_field :price %>
 </div>
 <div class="row d-flex align-items-center offset-1 py-2">
  <h5 class="m-0 col-3">販売ステータス</h5>
  <%= f.radio_button :is_active, "true" %><span class="px-1">販売中</span>
  <%= f.radio_button :is_active, "false" %><span class="px-1">販売停止中</span>
 </div>
 <div class="row d-flex justify-content-center py-3">
  <%= f.submit "新規登録",class: "btn btn-lg btn-success" %>
 </div> 
 <% end %>

</div>