<div class="container">
 <h4 class="my-2">商品詳細</h4>
 <div class="row py-5">
  <div class="col-4">
   <% if @item.image.attached? %>
    <%= image_tag @item.image, size: "200x200" %>
   <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
   <% end %>
  </div>
 
  <div class="col-8">
   <div class="row">
    <p class="col-4">商品名</p>
    <%= @item.name %>
   </div>
   <div class="row">
    <p class="col-4">商品説明</p>
    <%= @item.introduction %>
   </div>
   <div class="row">
    <p class="col-4">ジャンル</p>
    <%= @item.genre.name %>
   </div>
   <div class="row">
    <p class="col-4">税込価格</br>(税抜価格)</p>
    <%= @item.with_tax_price %>
    (<%= @item.price %>)円
   </div>
   <div class="row">
    <p class="col-4">販売ステータス</p>
     <% if @item.is_active %>
      <p>販売中</p>
     <% else %>
      <p>販売停止中</p>
     <% end %>
   </div>
  </div>
 </div>
 <div class="row d-flex justify-content-center py-3">
  <%= link_to "編集する", edit_admin_item_path(@item.id),class: "btn btn-success btn-lg" %>
 </div>
</div>