<div class="container">
<h2 class="my-2">管理者ログイン</h2>

 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row my-3">
    <%= f.label :email,"メールアドレス", class: "col-3 offset-1 text-left" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "col-4" %>
  </div>

  <div class="row my-3">
    <%= f.label :password,"パスワード", class: "col-3 offset-1 text-left" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-4" %>
  </div>

  <div class="row">
    <%= f.submit "ログイン",class: "btn btn-primary offset-4" %>
  </div>
 <% end %>

 <%= render "admin/shared/links" %>

</div>