<div class="container">
 <h2 class="my-2 mx-5">配送先編集</h2>
 <%= form_with model: @address,url: address_path(@address.id), method: :patch do |f| %>
 <div class="row my-2">
  <p class="col-3">郵便番号(ハイフンなし)</p>
  <%= f.text_field :postal_code,class: "col-3 pl-0" %>
 </div>
 <div class="row my-2">
  <p class="col-3">住所</p>
  <%= f.text_field :address,class: "col-6 pl-0" %>
 </div>
 <div class="row my-2">
  <p class="col-3">宛名</p>
  <%= f.text_field :name,class: "col-3 pl-0" %>
  <%= f.submit "変更内容を保存",class: "btn btn-success offset-4" %>
 </div>
 <% end %>
 </div>
</div>