<h1>配送先登録/一覧</h1>
<%= form_with model: @address do |f| %>
 <h2>郵便番号(ハイフンなし)</h2>
 <%= f.text_field :postal_code %>
 
 <h2>住所</h2>
 <%= f.text_field :address %>
 
 <h2>宛名</h2>
 <%= f.text_field :name %>

 <%= f.submit "新規登録" %>
<% end %>

<%= @addresses.each do |address| %>

 <p>郵便番号</p>
  <%= address.postal_code %>
  
 <p>住所</p>
  <%= address.address %>
 <p>宛名</p>
  <%= address.name %>
 
 <%= link_to "編集", edit_address_path(address.id) %>
 <%= link_to "削除", address_path(address.id), method: :delete %>
<% end %>