<h1>注文履歴一覧</h1>
<% @orders.each do |order| %>
 <%= order.created_at.strftime('%Y/%m/%d') %>
 <%= "〒" + order.postal_code %>
 <%= order.address %>
 <%= order.name %>
 <% order.order_details.each do |order_detail| %>
  <%= order_detail.item.name %>
 <% end %>
 <%= order.payment %>
 <%= order.status_i18n %>
 <%= link_to "表示する", order_path(order.id) %>
<% end %>