<div class="container">
<h2 class="my-2">ログイン</h2>

<h3 class="my-3 ml-3">会員の方はこちらからログイン</h3>
 <%= form_with(model: @customer,url: customer_session_path) do |f| %>
   <div class="row my-3">
    <%= f.label :email,"メールアドレス", class:  "col-3 ml-5 text-left" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:  "col-4" %>
   </div>

  <div class="row my-3">
    <%= f.label :password,"パスワード", class: "col-3 ml-5 text-left" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-4" %>
  </div>

  <div class="row">
   <div class="col-3 ml-5"></div>
    <%= f.submit "ログイン",class: "btn btn-primary col-2" %>
  </div>
 <% end %>
  <h3 class="my-3 ml-3">会員登録がお済でない方</h3>
   <p class= "ml-5" ><%= render "public/shared/links" %>から新規登録を行ってください.</p>
</div>