<div class="container">
 <div class="row py-5">
  <div class="col-4">
   <% if @item.image.attached? %>
    <%= image_tag @item.image, class: "img-fluid" %>
   <% else %>
    <%= image_tag 'no_image', class: "img-fluid" %>
   <% end %>
  </div>
  <div class="col-8 pl-5">
   <h2><%= @item.name %></h2>
   <h5 class="py-2"><%= @item.introduction %></h5>

   <h4>￥<%= @item.with_tax_price %><span class="h6">(税込)</span></h4>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <div class="row">
     <%= f.hidden_field :item_id, value: @item.id %>
     <div class="col">
     <%= f.select :amount, *[1..10],{include_blank: "個数選択"},required: true,class: "btn btn-outline-dark dropdown-toggle" %>
     </div>
     <div class="col text-right">
     <%= f.submit "カートに入れる", class: "btn btn-success" %>
     </div>
    </div>
    <% end %>
  </div>
 </div>
</div>