<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <h1>ながのCAKE</h1>
     <p>about</p>
     <p>商品一覧</p>
     <p>新規登録</p>
     <p>ログイン</p>
   
   </header>
    <%= yield %>
  </body>
</html>
